basketballDetection-18/
basketballDetection-21/
basketballDetection-24/
slurm_outputs/
yolonas_checkpoints/
tune_results/
wandb/
runs/
clips/
cls_chkpoint_resnet18/
cls_chkpoint_resnet50/
checkpoints/
cls_training_data_by_vid/
cls_weights/
deep_sort_realtime/
detection_dataset_groupby_env/
__MACOSX/
__MACOSX/video_test_dataset/
__pycache__/
.ipynb_checkpoints/
.vscode/
synthetic_images/
classification_dataset_groupby_env/
classification_dataset_groupby_env_split/
video_test_dataset/
data/

basketballDetection-25/
basketballDetection-27/
ffmpeg-git-20231128-amd64-static/
*.mp4
*.avi
*.webm
*.out
*.zip